*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background-color: #d0f4f1;

}
main{
    width: 980px;
    margin: 0 auto;
}

nav{
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
}

@media screen and (max-width: 960px) {
    .logonav, .navbar-links, img, h1, p, .grid-2-columns, .grid-1-nobg, .container, .content{
        flex: 100%;
        max-width: 80%;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .logonav, .navbar-links, img, h1, p, .grid-2-columns, .grid-1-nobg, .container, .content{
        flex: 100%;
        max-width: 100%;
        flex-direction: column;
    }
}

.logo{
    width: 30%;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logonav{
    width: 450px;
    box-shadow: none;
}

.navbar-links{
    width: 50%;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul li{
    font-size: 1rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 70px;
    list-style-type: none;
    margin: 10px;
}

.logo h1{
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
    margin-left: 1em;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

li:hover{
    transition: all 0.5s ease-in;
    background-color: mediumaquamarine;
}

.grid-2-columns{
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-template-columns: 33% 33%;
    display: flex;
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
    padding: 10%;
}

.grid-3-columns{
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    display: flex;
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
}

img{
    width: 380px;
    height: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.proc-img{
    width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

figcaption{
    font-size: 16px;
    font-weight: 600;
    color:#05998D;
}

.items{
    text-align:center;
    margin:50px auto;}
    
    
.items figure{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;}

.grid-1{
    width: 300px;
    margin: auto;
    padding: 50px;
    background-color: mediumaquamarine;
    width: 100vw;
    height: 20%;
    row-gap: 50px;
    column-gap: 50px;
    text-align: center;
}

.grid-1-nobg{
    width: 850px;
    margin: auto;
    padding: 50px;
    height: 20%;
    row-gap: 50px;
    column-gap: 50px;
    text-align: center;
    background-color: #05998D;
    color: whitesmoke;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 60px 40px 40px;
}

.drquote{
    text-align: center;
    align-items: center;
}

.consul{
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 20px;
    color: #05998D;
}

.ttitle{
    text-align: center;
    padding: 50px;
}



h2{
    margin-bottom: 20px;
    color: #05998D;
}

p{
    margin-bottom: 20px;
}

/* testimonials items */


.testimonials{
    padding: 40px 0;
    color: #434343;
    text-align: center;
}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border{
    width: 160px;
    height: 5px;
    background: #05998D;
    margin: 26px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial{
    background: #fff;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;
}

@media screen and (max-width: 960px) {
    .col{
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .col{
        flex: 100%;
        max-width: 100%;
    }
}

/*contact page*/

.contact-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
}

.img-contact{
    object-fit: cover;
    width: 400px;
    height: 230px;
    align-items: center;
    justify-items: center;
}

.container{
    width: 80%;
    background: whitesmoke;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.container .content .left-side{
    width: 25%;
    height: 100%;
    position: relative;
    margin-bottom: 50px;
}

.content .left-side .details{
    margin: 14px;
    text-align: center;
}

.content .left-side .details i{
    font-size: 30px;
    color: #05998D;
    margin-bottom: 10px;
    position: relative;
}

.content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two{
    font-size: 14px;
}

.container .content .right-side{
    width: 60%;
}

.topic-text{
    font-size: 20px;
    font-weight: 600;
    color:#05998D;
    margin-top: 50px;
    text-align: center;
}

footer{
    align-items: center;
    text-align: center;
    color: white;
    background-color: #404040;
    padding: 25px;
    width: 100vw;
    
}