*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background-color: whitesmoke;

}
main{
    width: 980px;
    margin: 0 auto;
}

nav{
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
}

.logo{
    width: 30%;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logonav{
    width: 450px;
}

.navbar-links{
    width: 50%;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul li{
    font-size: 1rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 70px;
    list-style-type: none;
    margin: 10px;
}

.logo h1{
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
    margin-left: 1em;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

li:hover{
    transition: all 0.5s ease-in;
    background-color: mediumaquamarine;
}

.grid-2-columns{
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-template-columns: 33% 33%;
    display: flex;
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
}

.grid-3-columns{
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    display: flex;
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
}

img{
    width: 380px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.proc-img{
    width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
}
.items{
    text-align:center;
    margin:50px auto;}
    
    
    .items figure{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;}

.grid-1{
    width: 300px;
    margin: auto;
    padding: 50px;
    background-color: #404040;
    width: 100vw;
    height: 20%;
    row-gap: 50px;
    column-gap: 50px;
    text-align: center;
}

.grid-1-nobg{
    width: auto;
    max-width: 800px;
    margin: auto;
    padding: 50px;
    height: 20%;
    row-gap: 50px;
    column-gap: 50px;
    text-align: center;
}

.consul{
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
}

footer{
    align-items: center;
    text-align: center;
    color: white;
    background-color: #404040;
    padding: 25px;

}