header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: orangered;
    padding: 25px;
}

.name{
    color: white;
    text-align: center;
    align-content: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

body{
    background-color: beige;
}

img{
    width: 200px;
    height: 200px;
    padding-left: 25px;
    padding-top: 25px;
}

.dp{
    float: right;
    float: top;
}

.icon{
    width: 25px;
    height: 25px;
    padding-top: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

div{
    width: auto;
    max-width: 800px;
}

h1{
    font-family: "Helvetica", sans-serif;
    color: orangered;
    font-weight:400;
    font-size: 40px;
    padding-left: 25px;
}

h2{
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 300;
    color: orangered;
    padding-left: 25px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 18px;
    padding-left: 25px;
}

p{
font-family: Arial, Helvetica, sans-serif;
padding-left: 25px;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/* link */
a:link{
    color: black;
}
a:visited{
    color: gray;
}
a:hover{
    color: darkorange;
}
a:active{
    color: orangered;
}

hr{
    margin: 25px;
}

span{
    color: orangered;
    font-style: italic;
}

footer{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: orangered;
    padding: 25px;
}